@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: transparent !important;
    -webkit-background-clip: text !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-text-fill-color: white !important;
    color: white !important;
    caret-color: white;
}